body {
    background-color: #90C7E3;
    background-image: linear-gradient(#90C7E3, #FFFFFF);
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
}

header {
    background-color: #002171;
    background-image: url(sunset.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 72px;
    color: #FFFFFF;
    font-family: Georgia, sans-serif;
}

h1 {
    text-align: center;
    padding-top: 0.5em;
}

nav {
    font-weight: bold;
    text-align: center;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

h2 {
    color: #1976D2;
    font-family: Georgia, sans-serif;
}

dt {
    color: #002171;
    font-weight: bold;
}

.resort {
    color: #1976D2;
    font-size: 1.2rem;
}

footer {
    padding: 1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.7rem;
    font-style: italic
}

h3 {
    font-family: Georgia, sans-serif;
}

main {
    display: block;
    padding-left: 2em;
    padding-right: 2em;
}

#wrapper {
    background-color: #FFFFFF;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 5px 5px 20px 0px #888888;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#homehero {
    height: 300px;
    background-image: url(coast.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#yurthero {
    height: 300px;
    background-image: url(yurt.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#trailhero {
    height: 300px;
    background-image: url(trail.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

nav a {
    text-decoration: none;
}